In [1]:
# Jose Alfredo Romero Gonzalez
# 02/01/2020 20:12
# fredyglz.fr@gmail.com
# python 3.7.3

In [2]:
'''LISTAS'''
print("LISTAS")
l = [22, True, "una lista", [1, 2]]
print(l)

LISTAS
[22, True, 'una lista', [1, 2]]

In [3]:
l = [11, False]
mi_var = l[0] # mi_var vale 11
print(l)
print(mi_var)

[11, False]
11

In [4]:
l = ["una lista", [1,2]]
mi_var = l[1][0] # mi_var vale 1
print(l)
print(mi_var)

['una lista', [1, 2]]
1

In [5]:
l = [22, True]
print(l)
l[0] = 99 # con esto l valdra [99, True]
print(l)

[22, True]
[99, True]

In [6]:
l = [0,1,2,3,4,5,6,7,8,9]
print(l)
print(l[0])
print(l[9])
print(l[-1])
print(l[-10])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
9
9
0

In [7]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(l)
mi_var = l[0:2] # mi_var vale [0,1]
print(mi_var)
mi_var = l[0:4:2] # mi_var vale [0,2]
print(mi_var)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1]
[0, 2]

In [8]:
l = [99, True, "una lista"]
mi_var = l[1:] # mi_var vale [True, "una lista"]
print(mi_var)
mi_var = l[:2] # mi_var vale [99, True]
print(mi_var)
mi_var = l[:] # mi_var vale [99, True, "una lista"]
print(mi_var)
mi_var = l[::2] # mi_var vale [99, "una lista"]
print(mi_var)

[True, 'una lista']
[99, True]
[99, True, 'una lista']
[99, 'una lista']

In [10]:
l = [99, True, "una lista", [1,2]]
print(l)
l[0:2] = [0,1] # l vale [0, 1, "una lista", [1, 2]]
print(l)
l[0:2] = [False] # l vale [False, "una lista", [1, 2]]
print(l)

[99, True, 'una lista', [1, 2]]
[0, 1, 'una lista', [1, 2]]
[False, 'una lista', [1, 2]]

In [11]:
'''Tuplas'''
print("TUPLAS")
t = (1, 2, True, "python")
print(t)

TUPLAS
(1, 2, True, 'python')

In [12]:
t = 1, 2, 3
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

In [13]:
t = (1)
print(t)
print(type(t))
t = (1,)
print(t)
print(type(t))

1
<class 'int'>
(1,)
<class 'tuple'>

In [14]:
t = 1, 2, 3
print(t)
mi_var = t[0] # mi_var es 1
print(mi_var)
mi_var = t[0:2] # mi_var es (1, 2)
print(mi_var)

(1, 2, 3)
1
(1, 2)

In [15]:
'''Diccionarios'''
print("DICCIONARIOS")
d = {"Love Actually": "Richard Curtis",
     "Kill Bill": "Tarantino",
     "Amelie": "Jean-Pierre Jeunet"}
print(d)

DICCIONARIOS
{'Love Actually': 'Richard Curtis', 'Kill Bill': 'Tarantino', 'Amelie': 'Jean-Pierre Jeunet'}

In [16]:
print(d["Love Actually"])
print(d["Kill Bill"])
d["Kill Bill"] = "Quentin Tarantino"
print(d["Kill Bill"])

Richard Curtis
Tarantino
Quentin Tarantino